#root {
  margin: 0 auto;
}

.card {
  padding: 2em;
  border: 1px solid var(--subtle);
  border-radius: var(--radius-m);
  place-items: center;
  box-shadow: var(--shadow-m);
  button {
    display: block;
  }
}
