:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --fg: light-dark(#242424, #f9f9f9);
  --bg: light-dark(#f9f9f9, #242424);

  --primary: #ff6600;
  --primary-contrast: #f9f9f9;
  --primary-darker: oklch(from #ff6600 calc(l * 0.9) c h);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-darker);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.8em 1.2em;
  font-size: 1em;
  color: var(--primary-contrast);
  background-color: var(--primary);
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-darker);
}
